# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches:
      - master
      - 'dev/**'
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@master
        with:
          # Artifact name
          name: SkBriggy-Artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: build/libs/SkBriggy-*.jar
  test:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: extra-plugins/
          merge-multiple: true
      - name: Run tests - Skript Master
        uses: SkriptLang/skript-test-action@v1.2
        with:
          test_script_directory: src/test/scripts
          skript_repo_ref: master
          extra_plugins_directory: extra-plugins/
          run_vanilla_tests: 'false' # temporarily disable due to vanilla Skript tests failing
      - name: Run tests - Skript 2.12.2
        uses: SkriptLang/skript-test-action@v1.2
        with:
          test_script_directory: src/test/scripts
          skript_repo_ref: 2.12.2
          extra_plugins_directory: extra-plugins/
          run_vanilla_tests: 'false' # temporarily disable due to vanilla Skript tests failing
